/* Author: Ania Chorna
Class: ITN 263-601
Date: 09/18/2025
Assignment: Module 3 - My Pet Gallery */

body{
    background-color:burlywood;
    font-size: 18px;
}
.site-header{
    text-align: center;
}
.site-header h2{
    color: black;
}
.site-header img{
    width: 400px;
    height: auto;
    border-radius: 12px;
}
.gallery .row{
    display: flex;
    flex-flow: wrap;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 100px;
}
.photo{
    width:25%;
}
.photo img{
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.about{
    background-color: antiquewhite;
    
}

/*figure{
    margin:0;
}*/
